@font-face{
  font-family:"yofont";
  src:url("../../img/iconfont/iconfont.ttf");
  src:url("../../img/iconfont/iconfont.woff");
}

@font-face{
  font-family:"yofont";
  src:url("../../img/iconfont/iconfont2.ttf");
  src:url("../../img/iconfont/iconfont2.woff");
}