.header{
  width: 100%;
  height: 38px;
  background: #0CC140;
  @include flexbox();
}

.content{
  @include flex();
  width: 100%;
  height: 100%;
}

.footer{
  width: 100%;
  height: 55px;

  ul{
    @include flexbox();
    li{
      @include flex();
      text-align: center;
      i{
        display: block;
      }
    }
  }

}